
<div class="row ijy-modal-dialog-full-title navbar-fixed-top">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
        <div class="ijy-modal-dialog-full-title-left" onclick="historyBack()"><img src="/images/leftgo.png" alt=""> </div>
        <div class="ijy-modal-dialog-full-title-middle">账号绑定</div>
    </div>
</div>
<style>
    .new-detail-warp{ padding-top:30px; font-family:"微软雅黑";}
    .new-detail-title p{ font-size:18px; color:#ff7d1d; line-height:28px; margin-bottom:0px;}
    .new-detail-time span{ display:block; font-size:12px; color:#8b8b8b; line-height:40px;}
    #content{ font-size:12px; color:#a4a6ae; line-height:28px;}
    .new-detail-time{ border-bottom:#363b46 1px solid; margin-bottom:20px;}
    .ijy-modal-changepassword-describe{ color: #d9bc82}

</style>
<!-- 内容区域 -->
<div class="ijy-fluid-container mt50" >
    <div class="tab-content">
        <div class="new-detail-warp">

            <div class="ijy-modal-dialog-full-content">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ijy-col-nopadding">
                        <div class=" ijy-modal-changepassword-describe" >账号类型：</div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                        <div>
                            <select class="form-control   ijy-modal-changepassword-text-oldpassword">
                                <option>真实</option>
                                <option>模拟</option>

                            </select>

                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ijy-col-nopadding">
                        <div class=" ijy-modal-changepassword-describe">MT4账号：
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                        <div>
                            <input type="text" class="form-control   ijy-modal-changepassword-text-oldpassword">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ijy-col-nopadding">
                        <div class=" ijy-modal-changepassword-describe">密码：</div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                        <div>
                            <input type="password" class="form-control   ijy-modal-changepassword-text-oldpassword">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ijy-col-nopadding">
                        <div class=" ijy-modal-changepassword-describe">重复密码：</div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                        <div>
                            <input type="password" class="form-control   ijy-modal-changepassword-text-newpassword">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                </div>
                <div class="row" style="    text-align: center;margin-top: 50px">

                    <button  onclick="ckaccount()" class="ijy-modal-changepassword-buttonbox-button" style="color: #dabb84">绑定</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--底部菜单-->

<!--密码修改窗口-->
<div id="modalChangePassword" class="modal" aria-hidden="true" aria-labelledby="basicModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog ijy-modal-dialog-full">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row ijy-modal-dialog-full-title">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <div class="ijy-modal-dialog-full-title-left" onclick="historyBack()">〈返回 </div>
                        <div class="ijy-modal-dialog-full-title-middle">密码修改</div>
                    </div>
                </div>
                <div class="ijy-modal-dialog-full-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ijy-col-nopadding">
                            <div class=" ijy-modal-changepassword-describe">原密码：</div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                            <div>
                                <input type="password" class="form-control   ijy-modal-changepassword-text-oldpassword">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ijy-col-nopadding">
                            <div class=" ijy-modal-changepassword-describe">新密码：</div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                            <div>
                                <input type="password" class="form-control   ijy-modal-changepassword-text-newpassword">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 "></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ijy-col-nopadding">
                            <div class="ijy-modal-changepassword-fastsignin">
                                <div class="ijy-checkbox">
                                    <input type="checkbox" id="ijy-modal-changepassword-fastsignin-checkbox" class="ijy-modal-changepassword-fastsignin-checkbox">
                                    <label for="ijy-modal-changepassword-fastsignin-checkbox"></label>
                                </div>
                                <span class="ijy-modal-changepassword-fastsignin-describe">启用快速登录</span> </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>
                    <div class="row ijy-modal-changepassword-buttonbox">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                            <button class="ijy-modal-changepassword-buttonbox-button" onclick="historyBack()">取消</button>
                            <button class="ijy-modal-changepassword-buttonbox-button" onclick="confirmOpen('你确定修改密码？','eventUpdatePassword')">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--提示窗口-->
<div id="modalAlert" class="modal" aria-hidden="true" aria-labelledby="basicModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">操作提示</div>
            <div class="modal-body">
                <div class="ijy-model-alert-msg" style="color: white">是否绑定该账号!</div>
            </div>
            <div class="modal-footer">
                <button onclick="alertClose()" style="float: left">取消</button>
                <button onclick="alertok()" style="float: left"> 确定</button>
            </div>
        </div>
    </div>
</div>

<!--JS 代码区-->
<script>
    function ckaccount() {
        $("#modalAlert").show();
    }
    function alertClose() {
        $("#modalAlert").hide()
    }
    function alertok() {
        $("#modalAlert").hide()
    }
</script>

