
<style>
    .btn{
        background: none repeat scroll 0 0 #d9bc82;
        border: 1px solid #d9bc82;
        color: #23262f;
        height: 35px;
         margin-top: 20px;
        width: 200px;
        border-radius: 2px;
        border: 0;
    }
</style>
<!-- 顶部菜单 -->
<div class="navbar-fixed-top">
    <div class="row ijy-modal-dialog-full-title">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
            <a onclick="historyBack()"><div class="ijy-modal-dialog-full-title-left"><img src="/images/leftgo.png" alt=""> </div></a>
            <div class="ijy-modal-dialog-full-title-middle">用户信息</div>

        </div>
    </div>
</div>
<!-- 内容区域 -->
<div class="ijy-fluid-container mt50">
    <div class="tab-content">
        <!-- 商品tab -->
        <div role="tabpanel" class="tab-pane active" id="tab-product">
            <div class="row"> </div>
            <div class="row">
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="#">
                        <div  class="ijy-news-item ijy-news-item-userpic">
                            <div class="ijy-news-item-left">
                                <span class="ijy-news-item-title text-gold">头像</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date"><img src="/upgrade/images/user-pic.jpg" width="46" height="46"/></div>
                        </div>
                        </a>
                </div>-->

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="/wx_data/changeaccount">
                        <div class="ijy-news-item" >
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">当前账号</span>
                            </div>
                             <div  class="ijy-news-item-right ijy-news-item-date text-gold " style="width:50%;">222000834&nbsp&nbsp<img src="/upgrade/images/ico_next.png" ></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">用户名</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date text-gold " style="width:50%;">{{name}}</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">姓名</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date text-gold " style="width:50%;">harry</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                    <div class="ijy-news-item">
                        <div class=" ijy-news-item-left" style="width:50%;">
                            <span class="ijy-news-item-title text-gold">手机</span>
                        </div>
                        <div class="ijy-news-item-right ijy-news-item-date text-gold " style="width:50%;">15618330485</div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                    <div class="ijy-news-item">
                        <div class=" ijy-news-item-left" style="width:50%;">
                            <span class="ijy-news-item-title text-gold">邮箱</span>
                        </div>
                        <div class="ijy-news-item-right ijy-news-item-date text-gold " style="width:50%;">harryluo163@163.com</div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                    <div class="ijy-news-item">
                        <div class=" ijy-news-item-left" style="width:50%;">
                            <span class="ijy-news-item-title text-gold">注册时间</span>
                        </div>
                        <div class="ijy-news-item-right ijy-news-item-date text-gold " style="width:50%;">2017-05-21 20:34:08</div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">通知</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date" style="width:50%;"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;"></div>
                        </div>
                    </a>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">历史订单</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date" style="width:50%;"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">挂单列表</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date" style="width:50%;"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">个人中心</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date" style="width:50%;"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">注册模拟账户</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date" style="width:50%;"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                    <a href="#">
                        <div class="ijy-news-item">
                            <div class=" ijy-news-item-left" style="width:50%;">
                                <span class="ijy-news-item-title text-gold">注册真实账户</span>
                            </div>
                            <div class="ijy-news-item-right ijy-news-item-date" style="width:50%;"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="text-align: center">




                               <a href="/wx_data/login" class="btn "> 退出</a>




                </div>





                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                 <div  class="ijy-news-item">
                     <div class=" ijy-news-item-left">
                         <span class="ijy-news-item-title text-gold">修改密码</span>
                     </div>
                     <div class="ijy-news-item-right ijy-news-item-date"><img src="/upgrade/images/ico_next.png" style="margin-top:12px;" /></div>
                 </div>

         </div>-->

                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                         <div  class="ijy-news-item">
                             <div class=" ijy-news-item-left">
                                 <span class="ijy-news-item-title text-gold">解绑提现银行卡</span>
                             </div>
                             <div class="ijy-news-item-right ijy-news-item-date"><img src="images/ico_next.png" style="margin-top:12px;" /></div>
                         </div>

                 </div>

                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                         <div  class="ijy-news-item">
                             <div class=" ijy-news-item-left">
                                 <span class="ijy-news-item-title text-gold">修改手机号</span>
                             </div>
                             <div class="ijy-news-item-right ijy-news-item-date"><img src="images/ico_next.png" style="margin-top:12px;" /></div>
                         </div>

                 </div>

                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">

                         <div  class="ijy-news-item">
                             <div class=" ijy-news-item-left">
                                 <span class="ijy-news-item-title text-gold">自动登录</span>
                             </div>
                             <div class="ijy-news-item-right ijy-news-item-date">

                             <button data-toggle="button" class="btn btn-default btn-outline active" type="button">
                               <span class="text">
                                 <i aria-hidden="true" class="icon wb-thumb-up"></i> 关闭
                               </span>
                               <span class="text-active">
                                 <i aria-hidden="true" class="icon wb-thumb-up text-danger"></i> 开启
                               </span>
                             </button>

                             </div>
                         </div>

                 </div>-->

            </div>
        </div>


    </div>
</div>





<div id="modalAlert" class="modal" aria-hidden="true" aria-labelledby="basicModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">操作提示</div>
            <div class="modal-body">
                <div class="ijy-model-alert-msg"></div>
            </div>
            <div class="modal-footer">
                <button onclick="alertClose()">确定</button>
            </div>
        </div>
    </div>
</div>
<!--确认窗口-->
<div id="modalConfirm" class="modal" aria-hidden="true" aria-labelledby="basicModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">操作提示</div>
            <div class="modal-body">
                <div class="ijy-model-confirm-msg"></div>
            </div>
            <div class="modal-footer">
                <button onclick="confirmClose(true)">确定</button>
                <button onclick="confirmClose(false)">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="navbar-fixed-bottom menu" >
    <div class="ijy-menu-bottom">
        <ul class="nav nav-tabs">
            <li class="ijy-menu-bottom-item"><a href="/wx_data/productlist?symboltype=1">
                <img src="/upgrade/images/bar01_o.png" width="24" height="24"><br>
                <span>交易</span>
            </a>
            </li>

            <li class="ijy-menu-bottom-item active"><a href="/wx_data/">
                <img src="/upgrade/images/bar04.png" width="24" height="24"><br>
                <span>用户</span>
            </a>
            <li class="ijy-menu-bottom-item"><a href="/wx_data/uselist">
                <img src="/upgrade/images/bar05_o.png" width="24" height="24"><br>
                <span>账户</span>
            </a>
            </li>
            <li class="ijy-menu-bottom-item"><a href="/wx_data/positionlist">
                <img src="/upgrade/images/bar02_o.png" width="24" height="24"><br>
                <span>持仓</span>
            </a>
            </li>

            <li class="ijy-menu-bottom-item"><a href="/wx_data/newslist">
                <img src="/upgrade/images/bar03_o.png" width="24" height="24"><br>
                <span>财经</span>
            </a>
            </li>

        </ul>
    </div>
</div><!--JS 代码区-->

<script>
    if(isWechat()){
        $(".navbar-fixed-top").hide();
        $(".ijy-fluid-container").attr("class","ijy-fluid-container")
        $(".ijy-fluid-container").css("margin","0 0 70px")
    }
</script>

