<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <title>CTS Trading</title>

    <style>
        .add_optional_button .btn-Recharge {background: none;padding: 3px 4px;border-color: #dabb84;color: #dabb84;font-size: 12px;border-radius: 3px;}
        .Coupon_tab{ border-top:#d9bc82 1px solid; border-bottom:#d9bc82 1px solid;}
        .Coupon_tab.nav-tabs li a{ border:none !important; text-align:center; line-height:20px !important; color:#d9bc82;}
        .Coupon_tab.nav-tabs > li > a:hover {border:none !important;}
        .Coupon_tab.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {background-color: #d9bc82;color: #1f2129; border:none;}
        #bor_r{border-right:#d9bc82 1px solid !important; }
        .add_k_warp{}
        .add_k_warp .btn_dec{width: 100%;color: #dabb84;display: block;float: left;height: 34px;line-height: 34px;background-color: #2d313c;font-size: 28px; text-align:center;}
        .add_k_warp .btn_add_p{ display:block; width:100%; background:#2d313c; text-align:center; color:#dabb84; line-height:34px;font-size: 14px; border-right:#1f2129 1px solid; border-left:#1f2129 1px solid;}
        .add_k_warp .btn_add{width: 100%;color: #dabb84;display: block;float: left;height: 34px;line-height: 34px;background-color: #2d313c;font-size: 28px; text-align:center;}
        .row.width_bg{ padding:0px; margin:10px 0px; border-radius:6px;background:#1f2129;}
        .add_optional_img img{border-radius: 50px;border: 3px solid #dabb84;float: left;margin-right: 10px;}
        .add_optional_img{ float:left;color: #dabb84;padding-top: 7px;padding-left: 1%;text-align: left;}
        .add_optional_body span{ text-align:left;display:inline-block; font-size:14px; color:#dabb84;}
        .add_optional_body p{ text-align:left; display:inline-block; font-size:15px; color:#ff7d1d; margin-left:5px;}
        .add_optional_button .btn-Sign{ background:#dabb84;padding: 3px 15px;border-color: #dabb84;color: #fff;font-size: 12px;border-radius: 3px;}
        .add_optional_button .btn-Recharge{ background:none;padding: 3px 15px;border-color: #dabb84;color:#dabb84;font-size: 12px;border-radius: 3px;}
        .add_optional_bottom{ width:auto; float:left;}
        .width_bg_add_pro{ border-bottom:#30333d 1px solid;}


#myTab li{ width: 20%}

    </style>
</head>


<!-- 顶部菜单 -->
<div class="navbar-fixed-top">
    <!-- 用户栏 -->
    <div class="ijy-menu-top-user">
        <div class="ijy-menu-top-user-username" style="width:55%; padding-left:0px; margin-right:0px;">
            <img src="/upgrade/images/user-pic.jpg" onclick="window.location='/wx_data';" width="40" height="40" style="margin-right:5px;"> <div onclick="window.location='/member/account/base';" class="amount"><span>资金：0.00</span><!--<br />优惠券：200.00-->
        </div>
        </div>
        <div class="ijy-menu-top-user-balance add_optional_button" style="width:45%;">
            <!--<a href="/index_contr/pay" class="btn btn-Recharge btn-sm" style="padding:5px; margin-top:10px;">充值</a>-->

        </div>

    </div>

    <div class="ijy-menu-top-event-tip" style="display: none;">刷新历史订单列表成功!</div>
</div>

<div class="ijy-option ijy-order-histroy-d" style="margin:50px 0 70px;">
    <div style="position:fixed; z-index:99999; width:100%; background:#23262f;">
        <ul  id="myTab" class="nav nav-tabs Coupon_tab">
        {{#compare symboltype '==' '1'}}
            <li  class="active" id="tab1" ><a href="/wx_data/productlist?symboltype=1"  id="bor_r">自选</a></li>
        {{else}}
            <li  class="" id="tab1" ><a href="/wx_data/productlist?symboltype=1"  id="bor_r">自选</a></li>
        {{/compare}}
            <li class=" " id="tab2"> <a href="/wx_data/productlist?symboltype=2" id="bor_r">外汇</a></li>
            <li class=" " id="tab3"><a href="/wx_data/productlist?symboltype=3"  id="bor_r">期权</a></li>
            <li class=" " id="tab4"><a href="/wx_data/productlist?symboltype=4"  id="bor_r">现货</a></li>
            <li class="" id="tab5" ><a href="/wx_data/productlist?symboltype=5" id="bor_r">点差</a></li>

            <input type="hidden" value="1" id="symboltype">
        </ul>
    </div>
<div class="tab-content" style="margin-bottom:90px; padding-top:42px;">
{{#compare symboltype '==' '1'}}
        <div role="tabpanel" class="tab-pane active" id="tab-unused">
            <div class="ijy-modal-dialog-full-content">
                <div class="row ijy-product-title">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <span class="ijy-product-title-name">商品</span><span class="ijy-product-title-price">买入</span><span class="ijy-product-title-price">卖出</span>
                    </div>
                </div>
                <div class="row add_k_warp" style="margin-left:-15px; margin-right:-15px;">
                    <div class="col-xs-3 ijy-col-nopadding"><a class="btn_dec" href="/wx_data/addproduct">-</a></div>
                    <div class="col-xs-6 ijy-col-nopadding"><a class="btn_add_p" href="/wx_data/addproduct">添加自选品种</a></div>
                    <div class="col-xs-3 ijy-col-nopadding"><a class="btn_add" href="/wx_data/addproduct">+</a></div>

                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=XAGUSD" style="display: block;" class=" XAGRMB" id="XAGUSDA">
                            <div class="ijy-product-item-name" id="XAGUSDNAME">XAGUSD(白银)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="XAGUSDASK" style="color: rgb(253, 0, 0);">17.121</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="XAGUSDBID">17.114</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=USOil" style="display: block;" class=" XAGRMB" id="USOilA">
                            <div class="ijy-product-item-name" id="USOilNAME">USOil(原油)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="USOilASK" style="color: rgb(0, 255, 0);">51.33</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="USOilBID">51.30</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURUSD" style="display: block;" class=" XAGRMB" id="EURUSDA">
                            <div class="ijy-product-item-name" id="EURUSDNAME">EURUSD(欧美)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURUSDASK" style="color: rgb(0, 255, 0);">1.12501</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURUSDBID">1.12499</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GBPUSD" style="display: block;" class=" XAGRMB" id="GBPUSDA">
                            <div class="ijy-product-item-name" id="GBPUSDNAME">GBPUSD(镑美)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="GBPUSDASK" style="color: rgb(253, 0, 0);">1.30163</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="GBPUSDBID">1.30160</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=AUDUSD" style="display: block;" class=" XAGRMB" id="AUDUSDA">
                            <div class="ijy-product-item-name" id="AUDUSDNAME">AUDUSD(澳美)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="AUDUSDASK" style="color: rgb(0, 255, 0);">0.74857</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="AUDUSDBID">0.74854</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=NZDUSD" style="display: block;" class=" XAGRMB" id="NZDUSDA">
                            <div class="ijy-product-item-name" id="NZDUSDNAME">NZDUSD(纽美)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="NZDUSDASK" style="color: rgb(0, 255, 0);">0.69902</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="NZDUSDBID">0.69896</div>
                        </a>
                    </div>
                </div>

        </div>
{{else}}

        <!-- 自选品种 -->
        <div role="tabpanel" class="tab-pane active" id="tab-unused">
            <div class="ijy-modal-dialog-full-content">
                <div class="row ijy-product-title">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <span class="ijy-product-title-name">商品</span><span class="ijy-product-title-price">买入</span><span class="ijy-product-title-price">卖出</span>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=XAUUSD" style="display: block;" class=" XAGRMB" id="XAUUSDA">
                            <div class="ijy-product-item-name" id="XAUUSDNAME">XAUUSD(黄金)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="XAUUSDASK" style="color: rgb(0, 255, 0);">1260.39</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="XAUUSDBID">1260.24</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=XAGUSD" style="display: block;" class=" XAGRMB" id="XAGUSDA">
                            <div class="ijy-product-item-name" id="XAGUSDNAME">XAGUSD(白银)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="XAGUSDASK" style="color: rgb(253, 0, 0);">17.121</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="XAGUSDBID">17.114</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=USOil" style="display: block;" class=" XAGRMB" id="USOilA">
                            <div class="ijy-product-item-name" id="USOilNAME">USOil(原油)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="USOilASK" style="color: rgb(0, 255, 0);">51.33</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="USOilBID">51.30</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURUSD" style="display: block;" class=" XAGRMB" id="EURUSDA">
                            <div class="ijy-product-item-name" id="EURUSDNAME">EURUSD(欧美)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURUSDASK" style="color: rgb(0, 255, 0);">1.12501</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURUSDBID">1.12499</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GBPUSD" style="display: block;" class=" XAGRMB" id="GBPUSDA">
                            <div class="ijy-product-item-name" id="GBPUSDNAME">GBPUSD(镑美)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="GBPUSDASK" style="color: rgb(253, 0, 0);">1.30163</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="GBPUSDBID">1.30160</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=AUDUSD" style="display: block;" class=" XAGRMB" id="AUDUSDA">
                            <div class="ijy-product-item-name" id="AUDUSDNAME">AUDUSD(澳美)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="AUDUSDASK" style="color: rgb(0, 255, 0);">0.74857</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="AUDUSDBID">0.74854</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=NZDUSD" style="display: block;" class=" XAGRMB" id="NZDUSDA">
                            <div class="ijy-product-item-name" id="NZDUSDNAME">NZDUSD(纽美)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="NZDUSDASK" style="color: rgb(0, 255, 0);">0.69902</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="NZDUSDBID">0.69896</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=USDJPY" style="display: block;" class=" XAGRMB" id="USDJPYA">
                            <div class="ijy-product-item-name" id="USDJPYNAME">USDJPY(美日)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="USDJPYASK" style="color: rgb(253, 0, 0);">110.998</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="USDJPYBID">110.997</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=USDCAD" style="display: block;" class=" XAGRMB" id="USDCADA">
                            <div class="ijy-product-item-name" id="USDCADNAME">USDCAD(美加)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="USDCADASK" style="color: rgb(253, 0, 0);">1.34887</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="USDCADBID">1.34882</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=USDCHF" style="display: block;" class=" XAGRMB" id="USDCHFA">
                            <div class="ijy-product-item-name" id="USDCHFNAME">USDCHF(美瑞)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="USDCHFASK" style="color: rgb(0, 255, 0);">0.97246</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="USDCHFBID">0.97244</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GER30" style="display: block;" class=" XAGRMB" id="GER30A">
                            <div class="ijy-product-item-name" id="GER30NAME">GER30</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="GER30ASK" style="color: rgb(253, 0, 0);">12221</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="GER30BID">12220</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=US30" style="display: block;" class=" XAGRMB" id="US30A">
                            <div class="ijy-product-item-name" id="US30NAME">US30</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="US30ASK" style="color: rgb(0, 255, 0);">20696</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="US30BID">20693</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EUSTX50" style="display: block;" class=" XAGRMB" id="EUSTX50A">
                            <div class="ijy-product-item-name" id="EUSTX50NAME">EUSTX50</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="EUSTX50ASK" style="color: rgb(253, 0, 0);">3486</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="EUSTX50BID">3485</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=SPX500" style="display: block;" class=" XAGRMB" id="SPX500A">
                            <div class="ijy-product-item-name" id="SPX500NAME">SPX500</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="SPX500ASK" style="color: rgb(0, 255, 0);">2357.7</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="SPX500BID">2357.4</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=FRA40" style="display: block;" class=" XAGRMB" id="FRA40A">
                            <div class="ijy-product-item-name" id="FRA40NAME">FRA40</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="FRA40ASK" style="color: rgb(253, 0, 0);">5062</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="FRA40BID">5062</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=UK100" style="display: block;" class=" XAGRMB" id="UK100A">
                            <div class="ijy-product-item-name" id="UK100NAME">UK100</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="UK100ASK" style="color: rgb(253, 0, 0);">7354</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="UK100BID">7353</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=JPN225" style="display: block;" class=" XAGRMB" id="JPN225A">
                            <div class="ijy-product-item-name" id="JPN225NAME">JPN225</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="JPN225ASK" style="color: rgb(253, 0, 0);">19633</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="JPN225BID">19627</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURJPY" style="display: block;" class=" XAGRMB" id="EURJPYA">
                            <div class="ijy-product-item-name" id="EURJPYNAME">EURJPY(欧日)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURJPYASK" style="color: rgb(0, 255, 0);">124.877</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURJPYBID">124.874</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURAUD" style="display: block;" class=" XAGRMB" id="EURAUDA">
                            <div class="ijy-product-item-name" id="EURAUDNAME">EURAUD(欧澳)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURAUDASK" style="color: rgb(0, 255, 0);">1.50294</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURAUDBID">1.50286</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURNZD" style="display: block;" class=" XAGRMB" id="EURNZDA">
                            <div class="ijy-product-item-name" id="EURNZDNAME">EURNZD(欧纽)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURNZDASK" style="color: rgb(0, 255, 0);">1.60954</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURNZDBID">1.60939</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURCHF" style="display: block;" class=" XAGRMB" id="EURCHFA">
                            <div class="ijy-product-item-name" id="EURCHFNAME">EURCHF(欧瑞)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURCHFASK" style="color: rgb(0, 255, 0);">1.09396</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURCHFBID">1.09392</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURCAD" style="display: block;" class=" XAGRMB" id="EURCADA">
                            <div class="ijy-product-item-name" id="EURCADNAME">EURCAD(欧加)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURCADASK" style="color: rgb(0, 255, 0);">1.51746</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURCADBID">1.51740</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=EURGBP" style="display: block;" class=" XAGRMB" id="EURGBPA">
                            <div class="ijy-product-item-name" id="EURGBPNAME">EURGBP(欧镑)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="EURGBPASK" style="color: rgb(0, 255, 0);">0.86428</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="EURGBPBID">0.86424</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GBPCAD" style="display: block;" class=" XAGRMB" id="GBPCADA">
                            <div class="ijy-product-item-name" id="GBPCADNAME">GBPCAD(镑加)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="GBPCADASK" style="color: rgb(253, 0, 0);">1.75571</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="GBPCADBID">1.75559</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GBPJPY" style="display: block;" class=" XAGRMB" id="GBPJPYA">
                            <div class="ijy-product-item-name" id="GBPJPYNAME">GBPJPY(镑日)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="GBPJPYASK" style="color: rgb(0, 255, 0);">144.485</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="GBPJPYBID">144.475</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GBPAUD" style="display: block;" class=" XAGRMB" id="GBPAUDA">
                            <div class="ijy-product-item-name" id="GBPAUDNAME">GBPAUD(镑澳)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="GBPAUDASK" style="color: rgb(0, 255, 0);">1.73893</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="GBPAUDBID">1.73878</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=GBPCHF" style="display: block;" class=" XAGRMB" id="GBPCHFA">
                            <div class="ijy-product-item-name" id="GBPCHFNAME">GBPCHF(镑瑞)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="GBPCHFASK" style="color: rgb(0, 255, 0);">1.26577</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="GBPCHFBID">1.26563</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=AUDJPY" style="display: block;" class=" XAGRMB" id="AUDJPYA">
                            <div class="ijy-product-item-name" id="AUDJPYNAME">AUDJPY(澳日)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="AUDJPYASK" style="color: rgb(0, 255, 0);">83.090</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="AUDJPYBID">83.086</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=AUDNZD" style="display: block;" class=" XAGRMB" id="AUDNZDA">
                            <div class="ijy-product-item-name" id="AUDNZDNAME">AUDNZD(澳纽)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="AUDNZDASK" style="color: rgb(0, 255, 0);">1.07092</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="AUDNZDBID">1.07084</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=AUDCAD" style="display: block;" class=" XAGRMB" id="AUDCADA">
                            <div class="ijy-product-item-name" id="AUDCADNAME">AUDCAD(澳加)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="AUDCADASK" style="color: rgb(0, 255, 0);">1.00970</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="AUDCADBID">1.00962</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=AUDCHF" style="display: block;" class=" XAGRMB" id="AUDCHFA">
                            <div class="ijy-product-item-name" id="AUDCHFNAME">AUDCHF(澳瑞)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="AUDCHFASK" style="color: rgb(0, 255, 0);">0.72793</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="AUDCHFBID">0.72786</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=NZDJPY" style="display: block;" class=" XAGRMB" id="NZDJPYA">
                            <div class="ijy-product-item-name" id="NZDJPYNAME">NZDJPY(纽日)</div>
                            <div class="ijy-product-item-buy" style="color:#fd0000;"><span id="NZDJPYASK" style="color: rgb(253, 0, 0);">77.593</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color:#fd0000;" id="NZDJPYBID">77.583</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=CADJPY" style="display: block;" class=" XAGRMB" id="CADJPYA">
                            <div class="ijy-product-item-name" id="CADJPYNAME">CADJPY(加日)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="CADJPYASK" style="color: rgb(0, 255, 0);">82.295</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="CADJPYBID">82.289</div>
                        </a>
                    </div>
                </div>
                <div class="row" style="border-bottom:#4d515d 1px solid; padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ijy-col-nopadding">
                        <a href="/wx_data/productdetail?t=CHFJPY" style="display: block;" class=" XAGRMB" id="CHFJPYA">
                            <div class="ijy-product-item-name" id="CHFJPYNAME">CHFJPY(瑞日)</div>
                            <div class="ijy-product-item-buy " style="color: #0F0;"><span id="CHFJPYASK" style="color: rgb(0, 255, 0);">114.155</span><img src="/images/ico_next_w.png" style="float:right;"></div>
                            <div class="ijy-product-item-sale ijy-product-item-equal" style="color: #0F0;" id="CHFJPYBID">114.144</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>



{{/compare}}
    <!--底部菜单-->
    <div class="navbar-fixed-bottom menu">
        <div class="ijy-menu-bottom">
            <ul class="nav nav-tabs">
                <li class="ijy-menu-bottom-item active" style="margin-left: -5px"><a href="/wx_data/productlist?symboltype=1">
                    <img src="/upgrade/images/bar01.png" width="24" height="24"><br>
                    <span>交易</span>
                </a>
                </li>
                <li class="ijy-menu-bottom-item" style="margin-left: -5px"><a href="/wx_data/">
                    <img src="/upgrade/images/bar04_o.png" width="24" height="24"><br>
                    <span>用户</span>
                </a>
                <li class="ijy-menu-bottom-item" style="margin-left: -5px"><a href="/wx_data/uselist">
                    <img src="/upgrade/images/bar05_o.png" width="24" height="24"><br>
                    <span>账户</span>
                </a>
                </li>
                <li class="ijy-menu-bottom-item" style="margin-left: -5px"><a href="/wx_data/positionlist">
                    <img src="/upgrade/images/bar02_o.png" width="24" height="24"><br>
                    <span>持仓</span>
                </a>
                </li>

                <li class="ijy-menu-bottom-item" style="margin-left: -5px"><a href="/wx_data/newslist">
                    <img src="/upgrade/images/bar03_o.png" width="24" height="24"><br>
                    <span>财经</span>
                </a>
                </li>

            </ul>
        </div>
    </div>


</div></div>
</div>
<script src="/js/socket.io.js"></script>
<script>
$(function () {
    var symboltype =request.QueryString('symboltype');
      if(symboltype!=""){
          $("#myTab li").attr("class","")
          $("#tab"+symboltype).attr("class","active")
      }else{
          $("#tab1").attr("class","active")
      }
});

//    function getNewList()
//    {
//        var msgid="";
//        var symboltype= $('#symboltype').val();
//
//        $.ajax({
//            type: "get",
//            url: "/wx_data/productlistdata",
//            success: function(msg, textStatus){
//
//                if(msg!="")
//                {
//                    var result = $.parseJSON(msg);
//
//                    for(var i = 0;i < result.length; i++) {
//                        msgid="[id='"+result[i]['SYMBOL']+"A"+"']";
//                        msgname="[id='"+result[i]['SYMBOL']+"NAME"+"']";
//                        msgask="[id='"+result[i]['SYMBOL']+"ASK"+"']";
//                        msgbid="[id='"+result[i]['SYMBOL']+"BID"+"']";
//                        $(msgid).attr('href','/wx_data/productdetail?t='+result[i]['SYMBOL']+'');
//                        $(msgname).html(result[i]['SYMBOLSTR']);
//                        if(result[i]['direction']=="0")
//                        {
//                            $(msgask).css("color","#fd0000");
//                            $(msgbid).css("color","#fd0000");
//                        }
//                        else
//                        {
//                            $(msgask).css("color","#0F0");
//                            $(msgbid).css("color","#0F0");
//                        }
//                        $(msgask).html(parseFloat(result[i]['ASK']).toFixed(parseInt(result[i]['Digits'])));
//                        $(msgbid).html(parseFloat(result[i]['BID']).toFixed(parseInt(result[i]['Digits'])));
//                    }
//
//                }
//            }
//        });
//    }
//
//    setInterval('getNewList()',500);

var isConnected = false;
var socket =  io.connect('http://106.14.255.45:10001');
socket.on('connect', function() {
    isConnected =false;
});
socket.on('chatevent', function(data) {
    $.fn.SK_alert(data.userName+" "+data.message)
});

socket.on('quoteevent', function(data) {
    var result = $.parseJSON(data);
    if(result!=null){
        msgid="[id='"+result.symbol+"A"+"']";
        msgname="[id='"+result.symbol+"NAME"+"']";
        msgask="[id='"+result.symbol+"ASK"+"']";
        msgbid="[id='"+result.symbol+"BID"+"']";
        $(msgid).attr('href','/wx_data/productdetail?t='+result.symbol+'');
        $(msgname).html(result.symbol);
//                        if(result[i]['direction']=="0")
//                        {
//                            $(msgask).css("color","#fd0000");
//                            $(msgbid).css("color","#fd0000");
//                        }
//                        else
//                        {
//                            $(msgask).css("color","#0F0");
//                            $(msgbid).css("color","#0F0");
//                        }
        $(msgask).html(parseFloat(result.ask).toFixed(2));
        $(msgbid).html(parseFloat(result.bid).toFixed(2));
    }


});

socket.on('disconnect', function() {
    socket.disconnect();
});

function sendDisconnect() {
    socket.disconnect();
}

$(function () {

})




</script>