<link href="/css/menu.css" rel="stylesheet" type="text/css" />
<link href="/css/common.css" rel="stylesheet" type="text/css" />
<link href="/css/Useindex.css" rel="stylesheet" type="text/css" />
<link href="/css/list.css" rel="stylesheet" type="text/css" />
<link href="/css/reset.css" rel="stylesheet" type="text/css" />

<div class="header">
    <div class="h_back" onclick="javascript:history.back(-1);">
        <img src="/images/iconfont-fanhui.png">
    </div>
    <h1 class="h_title">
        个人中心
    </h1>
</div>
<div class="main">
    <div class="mms-head-bottom">
        <div class="info-area">

            <img id="userimg" class="mms-portrait" src="/images/logo.jpg">
            <div class="info-content">
                <div class="uinfo">
                    <div class="vvm">
                        <p>Mr.harry</p>
                        <p>资金：5000元</p>
                    </div>

                    <div class="vvn">
                        <strong style="color:Red"> &nbsp;&nbsp;</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mms-order">
        <div class="mms-order-h">
            <a href="/Orders/OrderInfoList/0?num=1&amp;flag=0" style=" text-decoration:none; color:Black">
                <span>全部订单</span>
                <span><em>查看全部订单</em> <img src="/images/right-black.png"></span>
            </a>
        </div>
        <div class="mms-order-b">
            <dl>
                <a href="/Orders/OrderInfoList/0?num=1&amp;flag=1&amp;t=5&amp;name=%E5%BE%85%E6%94%AF%E4%BB%98">
                    <dt>
                        <img src="/images/daizhifu.png">
                    </dt>
                    <dd>待支付</dd>
                </a>
            </dl>
            <dl>
                <a href="/Orders/OrderInfoList/0?num=1&amp;flag=1&amp;t=10&amp;name=%E5%BE%85%E5%8F%91%E8%B4%A7">
                    <dt>
                        <img src="/images/daifahuo.png"></dt>
                    <dd>待发货</dd>
                </a>
            </dl>
            <dl>
                <a href="/Orders/OrderInfoList/0?num=1&amp;flag=1&amp;t=11&amp;name=%E5%BE%85%E6%94%B6%E8%B4%A7">
                    <dt>
                        <img src="/images/daishouhuo.png"></dt>
                    <dd>待收货</dd>
                </a>
            </dl>
            <dl>
                <a href="/User/AfterSale">
                    <dt>
                        <img src="/images/tuihuo.png"></dt>
                    <dd>售后</dd>
                </a>
            </dl>
        </div>
    </div>
    <div class="mms-menu">
        <ul>
            <li>
                <a href="/User/Revised_Data">
                    <dl>
                        <dt>
                            <img src="/images/usercontent.png"></dt>
                        <dd>个人资料</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/Orders/OrderInfoList/0?num=1&amp;flag=0">
                    <dl>
                        <dt>
                            <img src="/images/order.png"></dt>
                        <dd>我的订单</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/User/UserCashAccount">
                    <dl>
                        <dt>
                            <img src="/images/cash.png"></dt>
                        <dd>现金账户</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/User/UserCouponItem">
                    <dl>
                        <dt>
                            <img src="/images/bankcard.png"></dt>
                        <dd>我的优惠券</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/Shopping/ConsigneeAddressShow?flag=1&amp;nn=1">
                    <dl>
                        <dt>
                            <img src="/images/shouhuo.png"></dt>
                        <dd>收货地址</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/User/MyAttentionResult">
                    <dl>
                        <dt>
                            <img src="/images/dianpu.png"></dt>
                        <dd>店铺收藏</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/User/MemberMyAttention">
                    <dl>
                        <dt>
                            <img src="/images/shangpin.png"></dt>
                        <dd>商品收藏</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/User/UserSecurityCenter">
                    <dl>
                        <dt>
                            <img src="/images/anquan.png"></dt>
                        <dd>安全中心</dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>
</div>
